@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui/theme" {
  name: light;
  --color-base-100: #f5f7fa;
  --color-primary: #06923e;
  --color-secondary: black;
}

@plugin "daisyui/theme" {
  name: dark;
  --color-base-100: #1a1c1e;
  --color-primary: #34d399;
  --color-secondary: white;
}
.circuit-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  background-image: linear-gradient(
      to right,
      rgba(52, 58, 64, 0.1) 2px,
      transparent 2px
    ),
    linear-gradient(to bottom, rgba(52, 58, 64, 0.1) 2px, transparent 2px),
    radial-gradient(circle, rgba(52, 58, 64, 0.15) 2px, transparent 2px);
  background-size: 60px 60px, 60px 60px, 30px 30px;
  opacity: 0.5;
}
