@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui/theme" {
  name: light;
--color-base-100: #F5F7FA;
--color-primary: #06923E;
  --color-secondary: black;
}
 

@plugin "daisyui/theme" {
  name: dark;
  --color-base-100: #1A1C1E;
  --color-primary: #34D399;
  --color-secondary: white;
}
